# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
.turbo/
out/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Supabase
**/supabase/.branches
**/supabase/.temp

# Testing
coverage/

# Generated
**/types.gen.ts
